<a href="https://colab.research.google.com/github/Samyomb/Olist-Ecommerce-analytics/blob/main/notebooks/cleaning_olist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df_customers = pd.read_csv('olist_customers_dataset.csv')
df_geolocation = pd.read_csv('olist_geolocation_dataset.csv')
df_order_items = pd.read_csv('olist_order_items_dataset.csv')
df_order_payments = pd.read_csv('olist_order_payments_dataset.csv')
df_order_reviews = pd.read_csv('olist_order_reviews_dataset.csv')
df_orders = pd.read_csv('olist_orders_dataset.csv')
df_products = pd.read_csv('olist_products_dataset.csv')
df_sellers = pd.read_csv('olist_sellers_dataset.csv')
df_product_category = pd.read_csv('product_category_name_translation.csv')

In [ ]:
df_geolocation.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [ ]:
df_geolocation.value_counts()

geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  geolocation_city  geolocation_state
88220                        -27.102099       -48.629613       itapema           SC                   314
6414                         -23.495901       -46.874687       barueri           SP                   189
                             -23.490618       -46.869004       barueri           SP                   127
5145                         -23.506049       -46.717377       sao paulo         SP                   126
22620                        -23.005514       -43.375964       rio de janeiro    RJ                   102
                                                                                                     ...
18150                        -23.660702       -47.219962       ibiúna            SP                     1
                             -23.660570       -47.216268       ibiuna            SP                     1
                             -23.660564       -47.223828       ibiuna            SP                     1
                                                               ibiúna            SP                     1
                             -23.661468       -47.231998       ibiuna            SP                     1
Name: count, Length: 738332, dtype: int64

In [ ]:
df_geolocation = df_geolocation.drop_duplicates()

In [ ]:
df_geolocation.value_counts()

geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  geolocation_city  geolocation_state
99990                        -28.329472       -51.769109       muliterno         RS                   1
1001                         -23.551427       -46.634074       sao paulo         SP                   1
                             -23.551337       -46.634027       sao paulo         SP                   1
                             -23.550642       -46.634410       sao paulo         SP                   1
                             -23.550498       -46.634338       sao paulo         SP                   1
                                                                                                     ..
1002                         -23.544641       -46.633180       são paulo         SP                   1
                             -23.547417       -46.636361       sao paulo         SP                   1
                             -23.548137       -46.635905       sao paulo         SP                   1
                             -23.548318       -46.635421       sao paulo         SP                   1
                             -23.548551       -46.635072       sao paulo         SP                   1
Name: count, Length: 738332, dtype: int64

In [ ]:
df_order_reviews = df_order_reviews.drop(columns='review_comment_title')

In [ ]:
df_products = df_products.drop(columns=['product_name_lenght','product_description_lenght','product_photos_qty','product_weight_g','product_length_cm','product_height_cm','product_width_cm'])

In [ ]:
df_products_category = pd.merge(df_products, df_product_category, on='product_category_name')

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [ ]:
df_products_category = df_products_category.drop(columns=['product_category_name'])

In [ ]:
df_customers.to_csv('customers.csv', index=False)

In [ ]:
df_geolocation.to_csv('geolocation.csv', index=False)
df_order_items.to_csv('order_items.csv', index=False)
df_order_payments.to_csv('order_payments.csv', index=False)
df_order_reviews.to_csv('order_reviews.csv', index=False)
df_orders.to_csv('orders.csv', index=False)
df_products_category.to_csv('products.csv', index=False)
df_sellers.to_csv('sellers.csv', index=False)